.main-header {
    display: flex; 
    align-items: center;

    width: 100vw;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #02779e;
}

.main-navbar {
    position: absolute;
    right: 1rem;
}

.main-navbar__items {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.799);
    font-size: 1.1rem;  
}

.main-navbar__items:hover, .main-navbar__items:active {
    color: rgba(255, 255, 255, 0.799);
    background: black
}