/*dark-mode file*/

.background { 
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    z-index: -2;
}

.background-helper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #055c84e5;
    left: 0;
    top: 0;
    z-index: -1;
}

.title {
    color: #82daf7;
}

.descricao {
    color: #a7c3cc;
}

.div-escolheMet {
    background-color: #0d7192;
    color: rgb(255, 255, 255);
}

.met-types {
    background-color:#082f41;
}

.p-style {
    color: #b5c4c7;
}

.p-style:hover {
    background-color: #b5c4c7;;
    color: #082f41;
}
 
.footer {
    background-color: #052931;
    color: white;
}