* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #9bd9f23b;
}

main {
    margin: 2rem auto;
}

.temp-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    text-align: center;
    width: 80%;
}

.temp-type__container {
    border: 2px solid #ccc;
    margin: 0.5rem;
}

.temp-type {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
    background: #07274360;
}

.temp {
    font-size: 1.75rem;
    padding: 2rem 0;
}

.temp-subcontainer {
    justify-content: center;
    box-sizing: border-box;
}

.temp-subcontainer .temp-type__container {
    width: 100%;
}

.max-temp {
    color: #ee0b5b;
    padding: 1rem 0;
}

.min-temp {
    color: #abe4ff;
    padding: 1rem 0;
} 